html, body{
    background-color: #afa6a6;
    font-family: 'Source Code Pro', monospace;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hover{
    display: block;
    margin: 10px;
    text-decoration: none;
}

.active{
    display: block;
    margin: 10px;
    text-decoration: none;
}

.visited{
    display: block;
    margin: 10px;
    text-decoration: none;
}

.hover:hover{
    color: rgb(85, 202, 241);
    font-weight: bolder;
}

.active:active{
    color: red;
    font-style: italic;
}

.visited:visited{
    color: yellow;
}

.form_input > input:focus{
    color: rgb(28, 214, 28);
    font-size: 20px;
    outline: none;
}

nav li a{
    text-decoration: none;
}

.nav-bar{
    background-color: rgba(33, 33, 233, 0.747);
    font-size: large;
}

.nav-bar li{
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}

.nav-bar li:hover{
    background-color: rgb(169, 226, 245);
}

.search{
    float: right;
}

ul{
    padding-inline-start: 0px;
}

.nav-bar li.currentPage {
    background-color: #6699cc;
    padding: 14px 16px 14px 0px;
}

.search input[type=search] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

.search input:focus{
    border: 4px solid aqua;
    outline: none;
    font-size: 20px;
}

.nav-bar .search{
    padding-right: 14px;
}



